<div class="container">
    <div class="row">
        <div class="col">
            <div class="burger-menu">
                {{#each burgers}}
                    {{!-- {{#unless devoured}} --}}
                    {{/each}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="enter burger" aria-label="burger name" id="burger-name">
            </div>
        </div>
    </div>
</div>
